html {
    background-color:chartreuse;
    font-family: monospace;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px;
    color: black;
    font-size:2.37vi;
    font-weight: bold;
    background-color: white;
    margin: 100px auto ;
    width: 20%;
    border-radius: 20px;
    border: 5px solid black;
    box-shadow: 5px 10px inset;
}

#clock {
    color: white;
    background-color: black;
    padding: 30px 60px;
    margin-top: 10px;
    border-radius: 10px;
}